---
docs:
  refs:
    fluid:
      type: 'boolean'
      required: false
data:
  fluid: false
---
<section class="partial{{#if controller-name}} controller{{/if}} {{{class}}}" data-partial="{{{fallback partial-name "organisms/section"}}}"{{#if controller-name}} data-controller="{{{controller-name}}}"{{#if controller-lazy}} data-controller-lazy="true"{{/if}} {{/if}} {{{data-attributes}}}>
  <div class="{{{class-mapping container=(is fluid false) container-fluid=fluid}}}">
    {{#block "content"}}{{/block}}
  </div>
</section>

