---
class: #String
overline:
  text: "Overline"
headline:
  text: "Headline"
subline:
  text: "Subline"
content:
  text: "Text"
---
<section class="partial{{#if controller-name}} controller{{/if}}{{#if class}} {{{class}}}{{/if}}{{#if wrapper}} grid-wrapper{{#if wrapper-fluid}} grid-wrapper-fluid{{/if}}{{/if}}" data-partial="{{#if partial-name}}{{{partial-name}}}{{else}}organisms/Section{{/if}}"{{#if controller-name}} data-controller="{{#if controller-name}}{{{controller-name}}}{{else}}organisms/Section{{/if}}"{{/if}} {{#block "attributes"}}{{/block}}>
  {{#block "content"}}
    {{{mixin "atoms/text" content}}}
  {{/block}}
</section>
